
@{
    ViewBag.Title = "Urites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Űrítés</h2>
<div><h4>A tábla űrítése megtörtént!</h4></div>


<div>
    @Html.ActionLink("Vissza a listához", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}